<div class="displayResponsive">
<div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="col-md-12 padding-pls">
        <form #cityForm="ngForm"
          [formGroup]="weatherSearchForm"
          (ngSubmit)="sendToAPI(weatherSearchForm.value)"
        >
          <div>
            <input
              class="input"
              type="text"
              id="weatherLocation"
              aria-describedby="weatherLocation"
              placeholder="Please input a Location"
              formControlName="location"
            />
            <button class="button" type="submit" ><i class="fa fa-plus"></i>
            </button>
            <hr/>
          </div>
        
        </form>
        <div>
          <p>Recent locations</p>
          <hr/>
        </div>
        <div>
          <app-city></app-city>
      </div>
        </div>
    </div>
      <div class="col-md-6">
          <div class="col-md-12 padding-pls">
            <div style="font-weight: bold; font-size: 24px; margin-bottom: 30px;" class="location">
              {{ currentLocation.name }}
          </div>
            <div class="refreshButton">
              <button (click)="refresh(currentLocation.name)"><i class="fa fa-refresh"></i></button>
          </div>
            
            
              <img src="assets/{{ desc.icon }}.png" class="image" alt="icon">
            
            
            <div class="alignment">
              <div class="temp">
                {{ temperature.temp | number:'1.0-0'}}C
            </div>
            <br>
            <div class="description">
                {{ desc.description}}
            </div>
            <br>
            <div class="wind">
                Wind: {{ wind.speed}}ms
                {{ wind.deg}} deg
            </div>
            <br>
            <div class="wind">
                Pressure {{press.pressure}}
            </div>
            </div>
            
            <div class="flex">
                <app-future></app-future>
            </div>
          </div>
      </div>
</div>
</div>
</div>
